Function<String, String> print(String s) {
  return s -> { System.out.println(s); return s; }
}

public static void main(String[] args) {
    Stream.of(Debug.getStrings(1000))
        .map(print("A"))
        .sorted()
        .limit(10)
        .forEach((s) -> {});
}
